//colours
$text-color-white: #ffffff;
$text-color-orange: #fe992a;
$background-color-orange_light: #ffba6e;
$text-color-grey: #747c85;
$background-color-pink: #e6716e;


//font-size
$header-menu-font-size: 15px;
$header-h2-font-size: 52px;
$header-description-font-size: 14px;
$second-section-blockquote-font-size: 20px;
$second-section-h3-font-size: 24px;
$footer-text-font-size: 12px;

$header-menu-media-font-size2: 13px;
$header-menu-media-font-size1: 14px;
$footer-text-media-font-size: 10px;